<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="0f5d2fed-a4bb-42e3-994e-e637ffa8b477">
        <Shortcut Id="DesktopShortcut"
                  Name="Smart Irrigation System"
                  Description="Launch Smart Irrigation System"
                  Target="[INSTALLDIR]SmartIrrigationSystem.exe"
                  WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="RemoveDesktopShortcut" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\SmartIrrigationSystem" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
      <ComponentRef Id="DesktopShortcut" />
    </ComponentGroup>
  </Fragment>
</Wix>
